<div data-role="view" data-title="Inicio" data-layout="main" data-model="app.inicio" data-show="app.inicio.onShow" data-after-show="app.inicio.afterShow">
    <div class="about-view" data-bind="invisible:error">
        <div class="icon-group">
            <div class="app-details">
                <h2>Demos de funcionalidades</h2>
                <h4>Version 1</h4>
            </div>
        </div>
        <p>App description</p>
        <div class="button-group button-group-vertical">
            <a data-role="button" data-rel="external" href="mailto:victor.malaver@valmar.com.pe">Contactanos</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.inicio.inicioModel.openLink('https://www.facebook.com/Valmar');">Like en Facebook</a>
            <a data-role="button" data-rel="external" href="#" onclick="app.inicio.inicioModel.openLink('https://twitter.com/Valmar');">Siguenos en Twitter</a>
        </div>
        <!-- START_CUSTOM_CODE_inicioModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_inicioModel -->
    </div>
    <!-- START_CUSTOM_CODE_inicio -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_inicio -->
</div>
